node_modules
dist
build
.cache
.tmp
.tmp-*
.strapi
coverage
.git
.github
.husky
.env
.env.*
!.env.example
*.log
public/uploads/*
!public/uploads/.gitkeep
tests
docker
docker-compose.yml
*.md
openapi.yaml
